.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .organization-container {
  text-align: center;
} */

.organization-box {
  display: flex;
}

.repository-box {
  margin-left: 30px;
  text-align: start;
}

.issue-box {
  width: 50vw;
}

ul {
  list-style-type: none;
}
